In [ ]:
#  installs - !!! check if environment is selected !!!
%conda env list
%conda install mysqlclient -c conda-forge
%conda install jupysql -c conda-forge

In [ ]:
import os
import pandas as pd
import MySQLdb


DB_CONN_ARGS = {
    'host': os.getenv('DB_HOST'),
    'user': os.getenv('DB_USER'),
    'password': os.getenv('DB_PASSWORD'),
    'database': os.getenv('DB_NAME')
}
db_conn = MySQLdb.connect(**DB_CONN_ARGS)

DB_URI = os.getenv('DB_URI')
%load_ext sql
%sql $DB_URI

In [ ]:
%%sql
SELECT gender, married, AVG(age) FROM customer GROUP BY gender, married ORDER BY gender, married LIMIT 10;

In [ ]:
df = _.DataFrame()
df